body, head, html, aside , header, nav, footer, article, main { margin: 0; padding: 0;}
html{height: 100%}
body {background: #f9f9f9;
    font-family: 'Raleway', sans-serif;
    height: 100%;}
#all{ height: 100% }

#ust{ height: 80px; position: fixed; left: 0; right: 0; z-index: 10}
#ust.hovered { background: #fff}

.page{ height: 100%}

.vertical-aligned { display: flex; flex-direction: column; justify-content: center; }


.conteiner{width: 1100px;     margin: 0 auto;  }






#homepage{  background: url("images/backfoto.png") center no-repeat; background-size: cover }



#menu{ width: 500px;   float: right;  right: 130px; position: relative; top: 25px}
#menu ul{ list-style: none; margin: 0; padding: 0; }
#menu ul li{ float: left;
    display: block;
    width: 90px; height: 20px;
    position: relative;
    font-size: 14px;
    text-align: center;}


#menu ul li a{ color: black;text-decoration:none;}
#menu ul li a:hover{ color: black;text-decoration: line-through}
section a{ color: black;text-decoration:none}
#home { text-decoration: line-through }
#profil{width: 300px; height: 50px;

    float: left;
    position: relative; top: 20px;
    left: 5px;
    font: 15px sans-serif }
#instagramicon{margin: 0 0 0 10px}
#logo{width: 50px; height: 50px; float: left;}
#kimlik{width: 200px; height: 50px; float: left; position: relative; left: 10px; bottom: 10px;}
#sosyalmedya{  position: relative; float: right; top: 20px; left: 450px;}
#homebaslık{  font-size: 30px; }
#homeyazi{  font-size: 22px;}
#lesttalk{width: 110px; height: 20px; border: 3px solid black;
     font: 18px Tahoma; position: relative; top:40px; padding: 20px;}
#cvindir{width:200px ; height:50px;
    border: none;
    font-size: 20px;
    float: left;
    background: black; color: white;
border-radius: 5px}

#mesajgonder{width:100px ; height:40px;
    border: none;
    font-size: 15px;
    float: left;
    background: black; color: white;}

#aboutpage{ height: 704px ;  }
#kimimbaslik{text-align: center;}
#aboutbaslik{
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
 line-height: 80px;
    position: relative;
    top:60px;
}
hr{ font: bold 5px Tahoma; position: relative; bottom: 20px; border-bottom: 1px solid; }
#aboutbenkimim{width: 440px; height:360px ;
    text-align: left;
    float: left;
    padding: 20px;
     position: relative; top :90px;
    background: white;
    box-shadow: 2px 2px 48px #dad9d9;
   }
#aboutyetenek {width: 440px; height:360px ;
    text-align: center;
    padding: 20px;
background: white;
    float: left;
    box-shadow: 2px 2px 48px #dad9d9;
    position: relative; top :90px; left: 100px;}
.yetenek{text-align: left; float: left; bottom: 18px; position: relative}
.derece{text-align: right; float: right; bottom: 18px; position: relative}
#hizmetlerpage{ height: 704px; background:#f9f9f9;}
#hizmet1,#hizmet2,#hizmet3{width: 260px;
    height: 400px; position: relative;
    top:90px;
    text-align: center;
    margin: 0 40px;
    left: 40px;
    border-radius: 10px;
    background: white; float: left}
#hizmet1:hover,#hizmet2:hover,#hizmet3:hover{ background:#f9f9f9; box-shadow: 15px 15px 20px #dad9d9}



#hizmetlerbaslik{
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 80px;
    position: relative;
    top:60px;
}

#iletisimbaslik{ height: 100px;


    text-align: left;
    font-size: 30px;
    line-height: 80px;
}

#blogbaslik{position: relative;
    top:60px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 80px;
}

#blogpage{  background:#f9f9f9;}
.blog-date{ width:300px; height:40px; background: white;  text-align: center; margin: 0 auto }
.devami{width: 100px; height: 30px;
    position:relative;
    top: 20px;
    text-align: center;
    font-size: 12px;
    background: black;
    line-height: 30px;
    margin: 0 auto;
   border-radius: 5px}
.blogPost2,.blogPost1,.blogPost3{width: 350px; height: 500px; background:white; float: left; margin-left: 15px; position: relative;  top:80px; border-radius:10px}
.devami a{text-decoration:none; color: darkgrey; }
.devami a:hover{ color: white; }
.blogbig:hover{  position:relative;  box-shadow: 15px 15px 60px #dad9d9;}
.blogyazi{padding: 10px; position: relative; top:20px;}
.postbaslik{font:bold 12px Tahoma; }
#iletisim{ height: 550px;  background: url("images/ifoto2.png") center no-repeat; background-size: cover}
#iletisimadres{ width: 600px; height: 350px;  float: left;   margin-left: 25px; margin-top: 20px;}
#iletisimbaslik{ position:relative;  text-align: center; top: -15px; }
#iletisimbaslik hr{ color: black; margin: 0 auto }
#iletisimmesaj{ width: 400px; height: 350px;  float: left;  margin-left: 25px; margin-top: 10px; }
#ibaslik{margin: 0 auto; position: relative; }
#kutu1,#kutu2,#kutu3,#kutu4{  left: 20px; position: relative; top:20px;}
 #sadres, #sno, #smail{ position: relative; left: 15px; bottom: 10px;}
 #adreskutu{margin-top: 30px;}
#name{ width: 180px; height: 30px; color: gray}
#email{ width: 180px; height: 30px; color: gray; float: right}
#konu{ width: 394px; height: 30px; color: gray; }
#textarea{ width: 394px; height: 100px; color: gray}
#footer{height: 100px; background:black; color:gray; text-align: center; line-height: 100px; font-size: 12px}
.hizpost {padding: 10px}
.cizgi{width: 450px; height: 3px; background: lightgray;}
